@import url(https://fonts.bunny.net/css?family=alegreya-sans:400,400i,700);

* {
    box-sizing: border-box;
}

:root {
    --orange: #FB8B24;
    --purple: #6E44FF;

    --red: #6D213C;
    --blue: #0B132B;

    --background: hsl(250, 82%, 96%);
    --text: hsl(250, 0%, 0%);
    --texta: hsla(250, 0%, 0%, 70%);
    --green: #198754;

    --font: 'Alegreya Sans', sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font);
    font-size: clamp(0.75rem, 0.797vw + 0.544rem, 1.5rem);
    line-height: clamp(1.125rem, 0.876vw + 0.898rem, 1.95rem);

    margin: 0;
}

button {
    cursor: pointer;
}

#navbar {
    background-color: var(--background);
    color: var(--text);
    padding: 0.25em 1em;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    border-bottom: 2px solid var(--text);
}

#navbar > header {
    display: flex;
    font-size: 1em;
    gap: 0.25em;
}

#navbar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 1em;
    align-items: center;
}

#library-logo {
    width: 1em;
}

.btn-green {
    background-color: var(--green);
    color: var(--background);
    border: none;
    padding: 0.75em 1em;
    border-radius: 6px;
}

main {
    padding: 0 2.5em 10vh;
}

#intro {
    padding: 2em;
    width: 60ch;
    min-height: 90vh;
    display: flex;
    align-items: center;

    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2em;
}

.container-flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
}

.container-flex-col-center > * {
    padding: 0;
    margin: 0;
}

.books-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3em;
}

.book-card {
    border: 1px solid var(--text);
    text-align: center;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--texta);

    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form {
    background-color: var(--background);
    width: 50%;
    height: fit-content;
    padding: 0 1em 1em;

    border-radius: 6px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-modal {
    background-color: transparent;
    border: none;
}

.form-field {
    display: flex;
    gap: 1em;
}

.label-input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label-group, .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.label-group > label {
    display: block;
}

.input-group > input {
    display: block;
}