@import url(https://fonts.bunny.net/css?family=alegreya-sans:400,400i,700);

* {
    box-sizing: border-box;
}

:root {
    --orange: #FB8B24;
    --purple: #6E44FF;
    --green: #DEF6CA;
    --red: #6D213C;
    --blue: #0B132B;
    --font: 'Alegreya Sans', sans-serif;
}

body {
    background-color: var(--blue);
    font-family: var(--font);
    font-size: clamp(0.75rem, 0.797vw + 0.544rem, 1.5rem);
    line-height: clamp(1.125rem, 0.876vw + 0.898rem, 1.95rem);

    margin: 0;
}

#navbar {
    background-color: var(--red);
    color: var(--blue);
    padding: 0.25em 0.5em;
}

#navbar > header {
    display: flex;
    font-size: 1.35em;
    gap: 0.25em;
}

#library-logo {
    width: 1.35em;
    filter: brightness(0) saturate(100%) invert(7%) sepia(45%) saturate(1615%) hue-rotate(197deg) brightness(91%) contrast(99%);
}